* {
	box-sizing: border-box;
  }
  
  body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
  }
  
  header {
	background-color: #ff0000;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
  }

  nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
  }
  
  nav li {
	margin-right: 20px;
  }
  
  nav a {
	color: #fff;
	text-decoration: none;
  }
  
.rotate-images {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    margin: 0 auto;
  }
  
  .rotate-images img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin: 10px;
    transform: rotate(0deg);
    animation: rotate 5s infinite linear;
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  :root {
    --clr-neon: hsl(0, 100%, 54%);
    --clr-bg: hsl(323 21% 16%);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  .neon-button {
    font-size: 2rem;
  
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
  
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
  
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
  
    position: relative;
  }
  
  .neon-button::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 50%;
    height: 50%;
  
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.7;
  }
  
  .neon-button::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-neon);
    opacity: 0;
    background-color: var(--clr-neon);
    z-index: -1;
    transition: opacity 100ms linear;
  }
  
  .neon-button:hover,
  .neon-button:focus {
    color: var(--clr-bg);
    text-shadow: none;
  }
  
  .neon-button:hover::before,
  .neon-button:focus::before {
    opacity: 1;
  }
  .neon-button:hover::after,
  .neon-button:focus::after {
    opacity: 1;
  }
  
  footer {
	background-color: #ff0000;
	color: #fff;
	text-align: center;
	padding: 20px;
  }
  @media(max-width: 700px){
    .text-box h1{
      font-size: 20px ;
    }
    .nav-links ul li{
      display: block;
    }
    .nav-links{
      position: absolute;
      background: rgb(2, 89, 2);
      height: 100vh;
      width: 200px;
      top: 0;
      right: -200px;
      z-index: 2;
      transition: 1s;
    }
    nav .fa{
      display: block;
      color: #fff;
      margin: 10px;
      font-size: 22px;
      cursor: pointer;
    }
    .nav-links ul{
      padding: 30px;
    }
    .fa fa-times
  }

  /* For phones */
@media (max-width: 768px) {
    .main-content {
      width: 100%;
    }
  
    .sidebar {
      display: none;
    }
  }
  
  /* For laptops */
  @media (min-width: 769px) {
    .main-content {
      width: 75%;
    }
  
    .sidebar {
      display: block;
      width: 25%;
    }
  }
  
  ion-icon {
    font-size: 40px;
    }
  
    ion-icon {
    color: white;
    }
  
  
    @media screen and (max-width:767px){
      ...active
    }
    @media screen and (max-width:767px) and (max-width:1023px){
      ...active
    }
    @media screen and (max-width:1024px){
      ...active
    }
  
